<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="roboto">
  
  <xacro:macro name="wheel" params="wheel_name wheel_color">
    <!-- Definición de una rueda con parámetros para el nombre y el color -->
    <link name="${wheel_name}">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 0.0"/>
        <geometry>
          <cylinder radius="0.1" length="0.05"/>
        </geometry>
        <material name="${wheel_color}">
          <color rgba="0.0 0.0 0.0 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <cylinder radius="0.1" length="0.05"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <mass value="1.0"/>
        <inertia ixx="0.00025" iyy="0.00025" izz="0.0005" ixy="0" ixz="0" iyz="0"/>
      </inertial>
    </link>
  </xacro:macro>

  <xacro:macro name="wheel_joint" params="joint_name parent_link child_link x y z">
    <!-- Definición de un joint con parámetros para posiciones y nombres de links -->
    <joint name="${joint_name}" type="continuous">
      <parent link="${parent_link}"/>
      <child link="${child_link}"/>
      <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
    </joint>
  </xacro:macro>

  <!-- Base del carrito -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.5 0.3 0.2" />
      </geometry>
      <material name="red">
        <color rgba="1 0 0 0.8"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.5 0.3 0.2"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="10.0"/>
      <inertia ixx="0.025" iyy="0.025" izz="0.01" ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </link>

  <!-- Instancias de las ruedas usando la macro xacro -->
  <xacro:wheel wheel_name="front_left_wheel" wheel_color="black"/>
  <xacro:wheel wheel_name="front_right_wheel" wheel_color="black"/>
  <xacro:wheel wheel_name="rear_left_wheel" wheel_color="black"/>
  <xacro:wheel wheel_name="rear_right_wheel" wheel_color="black"/>

  <!-- Instancias de los joints usando la macro xacro -->
  <xacro:wheel_joint joint_name="front_left_joint" parent_link="base_link" child_link="front_left_wheel" x="0.25" y="-0.15" z="-0.1"/>
  <xacro:wheel_joint joint_name="front_right_joint" parent_link="base_link" child_link="front_right_wheel" x="0.25" y="0.15" z="-0.1"/>
  <xacro:wheel_joint joint_name="rear_left_joint" parent_link="base_link" child_link="rear_left_wheel" x="-0.25" y="-0.15" z="-0.1"/>
  <xacro:wheel_joint joint_name="rear_right_joint" parent_link="base_link" child_link="rear_right_wheel" x="-0.25" y="0.15" z="-0.1"/>

</robot>
